* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(47, 148, 68);
  overscroll-behavior: none;
}

nav {
  padding: 0px 24px;
  height: 72px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

nav ul {
  color: wheat;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

nav ul li {
  height: 72px;
}

nav ul li a {
  display: block;
  height: 72px;
  display: grid;
  place-items: center;
  color: wheat;
  text-underline-offset: 12%;
}

nav ul li a:has(span) {
  text-decoration: none;
}

.nav-icon {
  border: 1.7px solid wheat;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 24px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 36px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
  padding: 24px;
  max-width: 500px;
}

.card:first-of-type {
  margin-top: 24px;
}

.card {
  margin: 0px 12px;
}

.card .hint {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #7e807e;
  margin-left: 2px;
}

.card .hintify {
  font-size: 12px;
  text-transform: uppercase;
  color: #7e807e;
  font-weight: 500;
  margin-left: 2px;
}

.card h3 {
  font-size: 30px;
}

.tizen-os h3 {
  color: #2596be;
}

.wear-os h3 {
  color: #1a9116;
}

.card section {
  margin-top: 12px;
}

.card a {
  display: block;
  margin-top: 16px;
}

.card a img {
  width: 200px;
}

.card p {
  letter-spacing: 0.3px;
}

.card p span {
  font-weight: bold;
}

.card .badge {
  display: flex;
  align-items: center;
  width: min-content;
  transition: opacity 200ms;
}

.card .badge:hover {
  opacity: 0.7;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100vw;
  padding: 8px 16px;
  background-color: rgb(28, 86, 39);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
}

footer a {
  flex: 1;
  color: wheat;
  text-underline-offset: 12%;
  display: block;
  height: 72px;
  border-radius: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

span.highlight {
  color: #1a9116;
}
